body {
    background-color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* HEADINGS */

.header--main {
    font-weight: normal;
    font-size: 50px;
    color: white;
}

.header--secoundary {
    font-weight: 300;
    font-size: 42px;
    color: white;
}

.header--sub-header {
    font-size: 21;
    color: grey;
}

.footer--copy   {
    text-align: right;
    font-size: 16px;
    color: rgb(252, 252, 252);
}


/* LINKS  */ 
.link--cta  {
    font-size: 16px;
    color: aquamarine;
}